.box {
  overflow-y: auto;
  overflow-x: hidden;
  &.top-group {
    height: 20vh;
    h5 {
      color: #4F4F4F;
    }
  }
  &.active {
    background-color: #142748;
    color: #ffffff;
    h5 {
      color: #ffffff;
    }
  }
}
a {
  color: blue;
  text-decoration: none;
}

.tab-list {
  .tab {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    padding: 0 1em;
    font-size: 1.2em;
    margin-bottom: .5em;
  }
}
.box-alerta {
  position: relative;
  border: 1px solid #000;
  font-size: 14px;
  padding : 4px;

  a {
    text-decoration: none;
    font-weight: bold;
    border-radius: 50%;
    background-color:#CFCFCF;
    padding: 4px;
    text-align:center;
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 5px;
    transition: ease .5s all;
  }
  a:hover {
    background-color:#ffffff;
  }
}
.box-seguimiento {
  position: relative;
  border: 1px solid #000;
  font-size: 14px;
  padding : 4px;

  .status-Consultas {
    a {
      display: inline-block;
      background-color: rgb(233, 202, 30);
      color: #FFF;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      padding: 5px 10px;
      text-decoration: none;
    }
  }
  .status-Preoperatorio {
    a {
      display: inline-block;
      background-color: rgb(6, 48, 187);
      color: #FFF;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      padding: 5px 10px;
      text-decoration: none;
    }
  }

  .status-Nocalifica {
    a {
      display: inline-block;
      background-color: rgb(214, 78, 78);
      color: #FFF;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      padding: 5px 10px;
      text-decoration: none;
    }
  }

}

.box-operatorio {
  position: relative; 
  font-size: 14px;
  .row {
    padding-top: 8px;
    padding-bottom: 8px;
    &:hover {
      background-color:#EDEDED;
    }
  }
}

.btn-fast {
  color: #FFF;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
  transition: ease .3s all;
  &.consulta {
    background-color: rgb(5, 155, 155);
  }
  &.consulta:hover {
    background-color: rgb(19, 110, 110);
  }
  &.ingreso {
    background-color: rgb(165, 109, 4);
  }
  &:last-child {
    margin-right: 0;
  }
}

.confirm {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}