<app-modal-cmp [toggle]="loading">
  <div class="d-flex justify-content-center align-items-center" style="height: 350px;"><app-loader></app-loader></div>
</app-modal-cmp>

<app-page-header [userName]="api.getProfile('name')" info="Bienvenido a tu Dashboard."></app-page-header>

<div class="page-wrapper animate__animated animate__fadeIn">

  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <div class="box top-group">
          <h5 class="fw-normal">Eventos por revisar:</h5>
          <div class="mt-3 box-alerta">
            <a href="#">&raquo;</a>
            <div class="row">
              <div class="col-4"><b>C15783450-1</b></div>
              <div class="col-6">JUAN CASTILLO</div>
            </div>
            <div class="row">
              <div class="col-4"><b>17/09/2023</b></div>
              <div class="col-6">Vera tema CX</div>
            </div>
          </div>

          <div class="mt-3 box-alerta">
            <a href="#">&raquo;</a>
            <div class="row">
              <div class="col-4"><b>C16624648-2</b></div>
              <div class="col-6">ROMINA JARAMILLO</div>
            </div>
            <div class="row">
              <div class="col-4"><b>16/09/2023</b></div>
              <div class="col-6">FALTA BIOPSIA</div>
            </div>
          </div>

          <div class="mt-3 box-alerta">
            <a href="#">&raquo;</a>
            <div class="row">
              <div class="col-4"><b>C16624648-2</b></div>
              <div class="col-6">ROMINA JARAMILLO</div>
            </div>
            <div class="row">
              <div class="col-4"><b>16/09/2023</b></div>
              <div class="col-6">FALTA BIOPSIA</div>
            </div>
          </div>
        
        </div>
      </div>

      <div class="col">
        <div class="box top-group">
          <h5 class="fw-normal">Cotizaciones/Seguimiento:</h5>

          <div class="mt-3 box-seguimiento">
            <div class="row">
              <div class="col-4"><b>C7105820-K</b></div>
              <div class="col-4">OSCAR MEDINA</div>
              <div class="col-4 status-enproceso"><a href="#">EN PROCESO</a></div>
            </div>
          </div>

          <div class="mt-3 box-seguimiento">
            <div class="row">
              <div class="col-4"><b>C11968570-5</b></div>
              <div class="col-4">CAMILA NORAMBUENA</div>
              <div class="col-4 status-cotizado"><a href="#">COTIZADO</a></div>
            </div>
          </div>

        </div>
      </div>

      <div class="col">
        <div class="box top-group">
          <h5 class="fw-normal">Consultas 20-09-2023:</h5>

          <h6 class="mt-3">Sin consultas hoy</h6>

        </div>
      </div>
    </div>
    <div class="row align-items-stretch" style="height: 350px;">
      <div class="col-12">
        <div class="box h-100">
          <p>Operatorios por agendar</p>

          <div class="row">
            <div class="col-2"><b>RUT</b></div>
            <div class="col-2"><b>Paciente</b></div>
            <div class="col-3"><b>Fechas</b></div>
            <div class="col-3"><b>Observación</b></div>
            <div class="col-2"><b>Estado</b></div>
          </div>

          <div class="mt-3 box-operatorio">
            <div class="row">
              <div class="col-2"><b>C9582360-2</b></div>
              <div class="col-2">FELIPE CASANOVA</div>
              <div class="col-3">03/SEP/2023 - 05/OCT/2023</div>
              <div class="col-3">PENDIENTE INFORME DR RAMIREZ</div>
              <div class="col-2 status-reagendar"><a href="#">RE-AGENDAR</a></div>
            </div>
          </div>

          <div class="mt-3 box-operatorio">
            <div class="row">
              <div class="col-2"><b>C14380960-3</b></div>
              <div class="col-2">MILLARAY FUENTES</div>
              <div class="col-3">24/AGO/2023 - 24/SEP/2023</div>
              <div class="col-3">TIENE QUE ENVIAR ECO ABDOMINAL</div>
              <div class="col-2 status-enproceso"><a href="#">EN PROCESO</a></div>
            </div>
          </div>

          <!--
          <div class="tab-list">
           <div class="tab bg-primary text-white" *ngFor="let p of stats.usersByJobs">
              <div class="row h-100 align-items-center">
                <div class="col">{{p.name}}</div>
                <div class="col-4">
                  <div class="d-flex align-items-center">
                    <img src="assets/svg/icon-user.svg" class="me-3" alt="icono usuario">
                    {{p.qty}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          -->

        </div>
      </div>
      <div class="col">
        <div class="box h-100 active" hidden>
          <p>Usuarios por ubicación</p>

          <div class="tab-list">
            <div class="tab bg-white text-primary" *ngFor="let l of stats.usersByLocation">
              <div class="row h-100 align-items-center">
                <div class="col">{{l.name}}</div>
                <div class="col-4">
                  <div class="d-flex align-items-center">
                    <img src="assets/svg/icon-pin.svg" class="me-3" alt="icono usuario">
                    {{l.qty}}
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
