<app-modal-cmp [toggle]="loading" [fixWidth]="true">
  <div class="d-flex justify-content-center align-items-center"><app-loader></app-loader></div>
</app-modal-cmp>

<app-page-header [userName]="api.getProfile('Name')" info="Dashboard"></app-page-header>

<div class="page-wrapper animate__animated animate__fadeIn">

  <div class="container">
    <h5 class="my-3">Accesos rápidos</h5>
    <div class="row mb-4">
      <div class="col">
        <a [routerLink]="" (click)="addPeople()" class="btn-fast consulta">Toma de hora</a>
        <a [routerLink]="['/admin/people']" hidden class="btn-fast ingreso">Preingreso</a>
      </div>
    </div>

    <div class="row align-items-end mb-4">
      <div class="col-6">
        <h5 class="my-3">Agendamientos</h5>
      </div>
      <div class="col text-end">
        <label for="date_from">Desde:</label>
        <input type="date" id="date_from" class="form-control" [(ngModel)]="filter.from" />
      </div>
      <div class="col text-end">
        <label for="date_to">Hasta:</label>
        <input type="date" id="date_to" class="form-control" [(ngModel)]="filter.to" />
      </div>
      <div class="col text-start">
        <button class="btn btn-primary btn-sm" (click)="reload()">Filtrar</button>
      </div>
    </div> 

    
    <div class="row align-items-stretch">
      <div class="col-12">
        <div class="box h-100">

          <div class="row">
            <div class="col-2"><b>Fecha</b></div>
            <div class="col-2"><b>Hora ref.</b></div>
            <div class="col-3"><b>Paciente</b></div>
            <div class="col-3"><b>Ult. Observación</b></div>
            <div class="col-2"><b>Etapa</b></div>
          </div>

          <div class="mt-1 mb-3 text-center p-3" *ngIf="dates.length == 0">
            No se han encontrado citas con el filtro aplicado
          </div>
          <div class="mb-1 box-operatorio" *ngFor="let p of dates"> <!--dummy.people">-->
            <div class="row">
              <div class="col-2">{{p.Date | date: 'dd/MM/yyyy'}}</div>
              <div class="col-2">
                <span *ngIf="p.Confirmed==1">{{p.Time | slice:0:5}}</span> 
                <a *ngIf="p.Confirmed==0" [routerLink]="" class="confirm" (click)="confirm(p.DateID, p.CardCode, p.Name + ' ' + p.Lastname + ' ' + p.Lastname2)">{{p.Time | slice:0:5}}</a> 
                &nbsp;<fa-icon *ngIf="p.Confirmed==1" style="color:green;" [icon]="faCheckCircle"></fa-icon>
              </div>
              <div class="col-3"><a [routerLink]="['/admin/people/' + p.PeopleID]"><b>{{p.CardCode}}</b> {{p.Name}} {{p.Lastname}}</a></div>
              <div class="col-3"></div>
              <div class="col-2"><span class="status-{{p.GroupName}}">{{p.GroupName}}</span></div>
            </div>
          </div>  
  

        </div>
      </div> 
    </div>

  </div>

</div>
