<div class="entry-system-wrapper">
  <div class="container h-100">
    <div class="row h-100 gx-5">
      <div class="col-7 h-100 d-flex flex-column justify-content-between">
        <h1 class="text-white">MEDCONTROL</h1>
        <div class="banner-text">
          <h2 class="text-white">Bienvenido a nuestra plataforma</h2>
          <p>Gestión médica, atenciones, agendas, pre-operatorio, y otros.</p>
        </div>
      </div>
      <div class="col w-100 h-100 d-flex align-items-center">
        <div class="box-wrapper">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
