
.nav-item {
  margin-left: 8px;
  margin-right: 8px;
  .nav-icon {
    text-align: center;
    background-color: #FFF;
    border: 1px solid #FFF;
    img {
      max-width: 40px;
      padding: 5px;
    }
    span {
      display: block;
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 14px;
    }
  }
  &.active {
    .nav-icon {
      border: 1px solid #dee2e6;
      border-bottom: 0px;
    }
  }
}

.session {
  background-color:#EDEDED;
}

h4 {
  span {
    margin-left: 20px;
  }
}
.badge-enproceso {
  display: inline-block;
  background-color: rgb(233, 202, 30);
  color: #FFF;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
}
.badge-reagendar {
  display: inline-block;
  background-color: rgb(233, 81, 30);
  color: #FFF;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
}