@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$primary: #142748;
$primary-light: #1473E6;
// $primary-dark: #089BAB;
// $secondary: #FFBD76;
// $tertiary: #025162;

$theme-colors:map-merge($theme-colors, (
  "primary": $primary,
  "primary-light": $primary-light,
  // "secondary": $secondary,
  // "tertiary": $tertiary,
  // "primary-dark": $primary-dark
));

$body-color: #727D91;
$headings-color: $primary;

@import "node_modules/bootstrap/scss/bootstrap";
