<div class="m-3">
  <form (ngSubmit)="save()">
    <h4>Nuevo paciente</h4>
    <hr />
    <h5 class="my-4">Datos generales</h5>
    <div class="row my-1">
      <div class="col-4">
        <div class="form-group">
          <label>RUT (*):</label>
          <input type="text" class="form-control" name="CardCode" ngxRut [(ngModel)]="data.CardCode" [readonly]="loading" />
        </div>      
      </div>
      <div class="col-4" *ngIf="data.Mode == 'full'">
        <div class="form-group">
          <label>Fecha nacimiento:</label>
          <input type="date" class="form-control" name="Birthday" [(ngModel)]="data.Birthday" [disabled]="loading" />
        </div>      
      </div>
    </div>
    <div class="row my-1">
      <div class="col">
        <div class="form-group">
          <label>Nombre (*):</label>
          <input type="text" name="Name" class="form-control" [(ngModel)]="data.Name" [disabled]="loading" />
        </div>      
      </div>
      <div class="col">
        <div class="form-group">
          <label>Apellido paterno (*):</label>
          <input type="text" name="Lastname" class="form-control" [(ngModel)]="data.Lastname" [disabled]="loading" />
        </div>      
      </div>
      <div class="col">
        <div class="form-group">
          <label>Apellido materno:</label>
          <input type="text" name="Lastname2" class="form-control" [(ngModel)]="data.Lastname2" [disabled]="loading" />
        </div>      
      </div>
    </div>  
    <div class="row my-1">
      <div class="col">
        <div class="form-group">
          <label>Teléfono:</label>
           <input type="text" name="Phone" class="form-control" [(ngModel)]="data.Phone" [disabled]="loading" />
        </div>      
      </div>
      <div class="col">
        <div class="form-group">
          <label>Teléfono 2:</label>
          <input type="text" name="Phone2" class="form-control" [(ngModel)]="data.Phone2" [disabled]="loading" />
        </div>      
      </div>
      <div class="col">
        <div class="form-group">
          <label>Email:</label>
          <input type="text" name="Email" class="form-control" [(ngModel)]="data.Email" [disabled]="loading" />
        </div>      
      </div>
    </div> 
    <div class="row my-1" *ngIf="data.Mode == 'full'">
      <div class="col">
        <div class="form-group">
          <label>Dirección:</label>
           <input type="text" name="Address" class="form-control" [(ngModel)]="data.Address" [disabled]="loading" />
        </div>      
      </div>
      <div class="col">
        <div class="form-group">
          <label>Comuna:</label>
          <input type="text" name="County" class="form-control" [(ngModel)]="data.County" [disabled]="loading" />
        </div>      
      </div>
      <div class="col">
        <div class="form-group">
          <label>Ciudad:</label>
          <input type="text" name="City" class="form-control" [(ngModel)]="data.City" [disabled]="loading" />
        </div>      
      </div>
    </div> 
    <div class="row my-1" *ngIf="data.Mode == 'full'">
      <div class="col">
        <div class="form-group">
          <label>Salud:</label>
          <select class="form-control">
            <option [value]="h.HealthID" *ngFor="let h of healths">{{h.Name}}</option>
          </select>
        </div>      
      </div>
      <div class="col">
        <div class="form-group">
          <label>Profesión:</label>
          <input type="text" name="Address" class="form-control" [(ngModel)]="data.Profession" [disabled]="loading" />
        </div>      
      </div> 
    </div> 
    <div *ngIf="data.Mode == 'fast'">
      <h5 class="my-4">Consulta</h5>
      <div class="row my-1">
        <div class="col">
          <div class="form-group">
            <label>Fecha (*):</label>
            <input type="date" name="date" class="form-control" [(ngModel)]="data.dates.date" [disabled]="loading" />
          </div>      
        </div>
        <div class="col">
          <div class="form-group">
            <label>Hora (*):</label>
            <input type="text" name="time" class="form-control" [inputMask]="mask.timeMask" [(ngModel)]="data.dates.time" [disabled]="loading" />
          </div>      
        </div> 
      </div> 
    </div>
  
    <div class="row my-3">
      <div class="col text-end">
        <button type="button" class="btn btn-default float-start" [disabled]="loading" (click)="cancel()">Cancelar</button>
        <button type="submit" class="btn btn-success" [disabled]="loading">Guardar <fa-icon [hidden]="!loading" [icon]="faSpinner" [spin]="true"></fa-icon></button>
      </div>
    </div>
  </form>
</div>
